In [1]:
import seaborn as sns
import scipy.stats as ss
import pandas as pd
import ipywidgets as widgets


personas=pd.read_csv("/Users/valentinagraciano/Desktop/UCEMA/Fundamentos_de_informatica/personas_2011.csv", sep=";")

In [2]:
personas

,persona_id,anio,sexo_id,edad,maximo_grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_titulo_grado_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_3_anios,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id
0,1,2011,2,36,-1,-1,-1,64,4,0,...,1,1,4488,,-1.0,-1.0,3.0,116.0,22.0,1.0
1,5,2011,1,48,1,255,255,255,3,5,...,13,17,118,B,2.0,3.0,3.0,118.0,19.0,2.0
2,7,2011,2,30,5,111,111,158,1,11,...,13,13,587,D,NaN,NaN,NaN,NaN,NaN,NaN
3,10,2011,2,51,5,248,248,29,4,0,...,3,4,44,,-1.0,4.0,3.0,124.0,21.0,1.0
4,11,2011,1,39,2,223,203,280,3,8,...,15,18,7310,C,-1.0,4.0,3.0,6627.0,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68547,185558,2011,2,-1,-1,-1,-1,263,2,-1,...,-1,-1,221,,NaN,NaN,NaN,NaN,NaN,NaN
68548,185574,2011,2,55,-1,-1,-1,38,2,0,...,0,0,10971,,NaN,NaN,NaN,NaN,NaN,NaN
68549,185583,2011,2,18,7,-1,-1,216,2,-1,...,-1,-1,10624,,NaN,NaN,NaN,NaN,NaN,NaN
68550,185590,2011,2,-1,8,-1,-1,250,2,-1,...,-1,-1,396,,NaN,NaN,NaN,NaN,NaN,NaN
68551,185608,2011,1,27,5,227,227,252,2,-1,...,-1,-1,3765,,NaN,NaN,NaN,NaN,NaN,NaN